# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
.env

# Flask
instance/
.webassets-cache
uploads/
temp_chunks/

# OS
.DS_Store
Thumbs.db

# PDF & Logs
*.log
*.pdf
ocr_sonuc.txt
ceviri_sonuc.txt

# Tesseract & Temp
*.tmp
